header{
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1000;
}

header.scrolled .third-header{
  display: none;
}
.main-header {
  width: 100vw;
  display: flex;
}

#logo-header {
  width: 20vw;
}

#logo-header-img {
  width: 5vw;
  height: auto;
  padding-left: 25%;
  padding-top: 5%;
}

#links-header {
  width: 10%;
}

.fa-brands {
  font-size: 100%;
  padding-left: 5%;
  padding-top: 35%;
  color: red;
}

#slogan-header {
  width: 30%;
}

#header-slogan {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 130%;
  padding-top: 7%;
  padding-left: 10%;
}

#opening-times {
  padding-left: 60%;
  font-weight: lighter;
}

#times-header {
  width: 20%;
  display: flex;
  padding-left: 5%;
}

#sales-and-advice-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 125%;
  padding-right: 5%;
  padding-top: 11%;
}

#phone-number-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
  padding-top: 16.5%;
  color: red;
  text-decoration: none;
  height: 5%;
}

#contact-header {
  width: 20%;
  display: flex;
  flex-direction: column;
}

#header-button {
  background-color: red;
  width: 55%;
  height: 35%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  margin-top: 5%;
}

#header-button-arrow {
  padding-top: 7.5%;
  padding-left: 10%;
  color: white;
  font-size: 125%;
}

#header-button-text {
  color: white;
  margin: 0 auto;
  padding-top: 7%;
}

#email-header {
  padding-top: 8%;
  padding-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 120%;
  text-decoration: none;
  color: red;
}

#header-line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.secondary-header {
  width: 100%;
  display: flex;
  position: relative;
}

.dropdown-container {
  width: 20%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.quote-container {
  width: 20%;
  text-align: center;
  padding-top: 1%;
}

.dropdown-title {
  color: black;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.dropdown-list {
  display: none;
  position: absolute;
  padding-bottom: 1%;
}

.dropdown-list a {
  display: block;
  padding-top: 10%;
  text-decoration: none;
  color: black;
  font-size: 125%;
  font-family: arial;
}

.dropdown-container:hover {
  padding-bottom: 1%;
}

.dropdown-container:hover .dropdown-title {
  color: red;
}

.dropdown-container:hover .dropdown-list {
  display: block;
  margin-top: 1%;
  background-color: lightgrey;
  width: 20%;
  text-align: center;
}

.quote-button {
  text-decoration: none;
  font-size: 150%;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5%;
}

.quote-button:hover {
  color: white;
  background-color: red;
}

.third-header {
    width: 100vw;
    background-color: red;
}

#fact-bar {
  width: 100%;
  background-color: red;
  height: 50;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  color: white;
}

.fact-bar-headers{
    width: 20%;
    text-align: center;;
}

#first-header{
    margin-left: 10%;
}

@media screen and (max-width: 1024px){
  #logo-header-img {
  width: 15vw;
  height: auto;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
}

#links-header {
  display: none;
}

#slogan-header {
  width: 30%;
  padding-left: 10%;
}

#header-slogan {
  font-size: 130%;
  padding-top: 10%;
  padding-left: 0%;
}

#opening-times {
  padding-left: 1%;
  font-weight: lighter;
}

#times-header {
  display: none;
}

#contact-header {
  padding-top: 1%;
  padding-left: 12%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

#header-button {
  background-color: red;
  width: 55%;
  height: 35%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  margin-top: 5%;
}

#email-header {
  padding-right: 5%;
}

.secondary-header {
  padding-bottom: 1%;
}

.dropdown-container:hover .dropdown-list {
  margin-top: 1.8%;
  padding-bottom: 2%;
}

#fact-bar {
  width: 90%;
  justify-content: space-evenly;
}

#first-header{
    margin-left: 12%;
}
}

@media screen and (max-width: 820px){
  #logo-header-img {
  width: 15vw;
  height: auto;
  padding-left: 10%;
  padding-top: 10%;
}

#slogan-header {
  width: 35%;
  padding-left: 10%;
}

#header-slogan {
  padding-top: 5%;
}

#contact-header {
  padding-top: 0%;
  padding-left: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#header-button{
  height: 30%;
}

.dropdown-title {
  font-size: 120%;
}

.quote-button {
  font-size: 120%;
}

.dropdown-list a {
  font-size: 100%;
  padding-top: 15%;
}

#fact-bar {
  width: 100%;
  font-size: 70%;
  justify-content: space-evenly;
}

#first-header{
    margin-left: 1%;
}
}

@media screen and (max-width: 768px){
  header{
    width: 100%;
  }

  .main-header{
    width: 100%;
  }

  .third-header{
    width: 100%;
  }

  #email-header {
  font-size: 110%;
}
}

@media screen and (max-width: 430px){

  header{
    width: 100%;
  }

  #logo-header-img{
    width: 75%;
    padding-left: 25%;
  }
  #slogan-header {
  display: none;
}

#contact-header {
  display: none;
}

hr{
  display: none;
}

.secondary-header {
  display: none;
}

.third-header{
  display: none;
}
}
